{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/panier.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1> Votre panier </h1>


<!-- Condition  si cest panier vide ou pas-->
 <div class="champs">
     <table class="table">
           <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Action</th>
                     <td><a href="{{ path('paiement')}} ">Acheter</a></td>
                </tr>
            </thead>

            <tbody>
                 {% for element in dataPanier %}
                    <tr>
                        
                    
                    
            
                        <td>
                        
                        
                        </td>
                    
                    </tr>

                 {% else %}
                    <tr>
                       <td colspan="5" class="text-center">Votre panier est vide <td>
                    </tr>
             

                 {% endfor %}
            
                
                        
        
            </tbody>
         <tfoot>
               <tr>
                   <td class="right">Total</td>
                   <td><a href="#">Suprimer</a></td> </td>
               
               </tr>
               
          </tfoot> 

       </table>

    </div>   

{% endblock %}