{% extends 'base.html.twig' %}

{% block title %}Parents{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/parents.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <div id="parents">

        <h1>Informations pour les parents</h1>

        <div class="explic">
            <h2>1. Bienvenue dans l'univers Novart !</h2>

            <p>Vous trouverez ici toute l’information pertinente au sujet de notre jeu pour les parents de nos joueurs.</p>
        </div>

        <div class="explic">
            <h2>2. Quelques mots sur Novart</h2>

            <p>blablablablablablabalbla</p>
        </div>

        <div class="explic">
            <h2>3. Apprentissage et développement</h2>

            <p>blablablablablablabalbla</p>
        </div>

        <div class="explic">
            <h2>4. Notre environnement plaisant et sécuritaire</h2>

            <p>Un aspect important de notre travail chez Novart est d’offrir un environnement plaisant et sécuritaire. Si vous souhaitez des conseils, jetez un œil à notre guide de la sécurité en ligne. Voici quelques exemples de ce que nous faisons pour assurer la sécurité de nos joueurs.</p>

            <li><span> Termes d’utilisation : </span> Tous nos joueurs doivent accepter nos Termes d’utilisation qui assurent que toute la communication entre les joueurs se fasse de façon positive et sécuritaire. Les joueurs qui enfreindront ces règles seront sous surveillance et pourraient être bannis du jeu.</li>

            <li><span> Certification Safe Harbor PRIVO-Cert™ : </span> Novart adhère aux exigences strictes mises en place par PRIVO, une organisation indépendante tierce engagée dans la protection des informations personnelles des enfants recueillies en ligne. Le sceau de certification apposé sur cette page indique que Star Stable a établi des pratiques relatives à la vie privée conformes à la loi de protection de la vie privée en ligne des enfants (Children Online Privacy Protection Act - COPPA).</li>

            <li><span> Information concernant votre compte : </span> Novart ne partage pas et ne partagera jamais d’information ou les détails de votre compte avec des tiers.</li>

            <li><span> Sécurité et tranquillité d’esprit : </span> notre priorité principale. Nous travaillons sans relâche pour maintenir une expérience de jeu digne de confiance.</li>

        </div>

        <div class="explic">
            <h2>5. Période d’essai et abonnement au jeu</h2>

            <p>Il est possible d’essayer Novart gratuitement grâce à notre Mallette Démo. Pour débloquer les Mallettes Pédagogiques, les joueurs doivent devenir Star Rider. Vous pouvez choisir un abonnement mensuel ou trimestriel avec renouvellement automatique jusqu’à l’annulation de l’abonnement. Vous avez aussi l’option du paiement en Un seul versement, pour être Star Rider pour toujours. Il vous faudra fournir des détails personnels essentiels au processus de facturation pour devenir Star Rider. Novart n’entrepose aucune donnée confidentielle de paiements sur ses serveurs, alors elles ne seront jamais à risque.</p>
        </div>

        <div class="explic">
            <h2>6. Nous contacter</h2>

            <p>Merci d’avoir visiter Novart ! Nous vous encourageons à passer du temps en famille sur Novart et partir à l’aventure ensemble. Pour plus d’information, veuillez lire notre Politique de confidentialité ainsi que nos Termes d’utilisation. Si vous avez toute autre question, ou des commentaires, faites-nous en part en nous écrivant.</p>
        </div>

    </div>


{% endblock %}
