{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/glossaire.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Glossaire{% endblock %}

{% block body %}

    <h1>Glossaire</h1>

    <div id="containerGlo">
        <h2>Comme dans chaque domaine, il existe un jargon de l'art. Vous retrouverez ici les principaux mots utiliser dans l'art et l'histoire de l'art, afin de mieux comprendre les termes utiliser sur le site, mais aussi lors de vos sorties culturelles et artistiques.</h2>

        <div id="blocDef">
               
            {% for glossaire in glossaires %} 
            <div id="def">
                <h3>{{glossaire.mot}} </h3>
                <p>{{ glossaire.definition}} </p>
            </div>
            {% endfor %} 

        </div>

    </div>

{% endblock %}
