{% extends 'base.html.twig' %}

{% block title %}Nos Mallettes{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/mallettes.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    <h1>Découvrez toutes nos mallettes créatives</h1>

    <div id="containerMal">

        <div id="mallettes">
            <div class="itemMenu"><span class="animLink"><a href="">L'art abstrait</a></span></div>
            <div class="itemMenu"><span class="animLink"><a href="{{ path('jeux') }}">Le cubisme</a></span></div>
            <div class="itemMenu"><span class="animLink"><a href="">La photographie</a></span></div>
            <div class="itemMenu"><span class="animLink"><a href="">Le paysage</a></span></div>
            <div class="itemMenu"><span class="animLink"><a href="">Les animaux</a></span></div>
            <div class="itemMenu"><span class="animLink"><a href="">Le street art</a></span></div>
            <div class="itemMenu"><span class="animLink"><a href="">Le pointillisme</a></span></div>
        </div>


    </div>


    <!-- DIV Footer -->
    {% block footer %}
        {{ include('footer.html.twig') }}
    {% endblock %}
    
{% endblock %}
