/***** Palette chromatique du site à respecter *****/


/* COULEURS DOMINANTES */
BEIGE {
    color: rgb(252, 235, 203);
}

BLEU CLAIR {
    color : rgb(64, 165, 161);
}

JAUNE {
    color : rgb(236, 159, 71);
    color: rgb(250, 177, 93);
}

ROUGE {
    color : rgb(240, 104, 83);
}

VERT CLAIR {
    color : rgb(68, 133, 120);
}


/* COULEURS SECONDAIRES (par plus petites touches) */
BLEU MARINE {
 color: rgb(29, 58, 97);
}

VERT FONCE {
    color: rgb(35, 57, 54);
}

VIOLET {
    color: rgb(91, 76, 141);
}

BLANC {
    color: rgb(255, 255, 255);
}

