{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/moncompte.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/moncompte.js') }}"></script>
{% endblock %}

{% block body %}

    <h1>Bienvenue sur votre compte !</h1>

    
    <div class="container">

        <div class="container-onglets">

            <div class="onglets active" data-anim="1">Mon profil</div>
            <div class="onglets" data-anim="2">Mes mallettes</div>
            <div class="onglets" data-anim="3">Remboursements</div>
            <div class="onglets" data-anim="4">Bonus</div>

        </div>

        <div class="contenu activecontenu" data-anim="1">
            <p>Test contenu</p>
        </div>
        <div class="contenu" data-anim="2">
            <p> Test contenu</p>
        </div>
        <div class="contenu" data-anim="3">
            <p> Test contenu</p>
        </div>
        <div class="contenu" data-anim="4">
            <p> Test contenu</p>
        </div>

    </div>

{% endblock %}