{% extends 'base.html.twig' %}

{% block title %}New Actualites{% endblock %}

{% block body %}
    <h1>Create new Actualites</h1>

    {{ include('admin_actualites/_form.html.twig') }}

    <a href="{{ path('admin_actualites_index') }}">back to list</a>
{% endblock %}
