{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
     <h1> Votre achat</h1>
    
    <button id="checkout-button">Acheter</button>

{% endblock %}


{% block javascript %}
  <script src="{{ asset('assets/js/paiement.js') }}"></script>
{% endblock %}

