/* DIV Header */
header {
    width: 100%;
    height: 100%;
}

#logoHeader {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 7%;
    font-size: 30px;
}

.slider img {
    width: 100%;
    display: none;
}

.slider img.active {
    display: block;
    animation: fade 0.8s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btnCarou {
    width: 80%;
    display: flex;
    position: absolute;
    left: 12%;
    bottom: 10vh;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 5.5vw;
    letter-spacing: 9px;
    line-height: 1;
    font-family: 'Mathlete-Bulky';
    color: rgb(255, 255, 255);
    width: 35%;
}

.btnCarou i {
    color: rgb(255, 255, 255);
    font-size: 5vw;
    cursor: pointer;
}

h2{
    font-size: 2.7vw;
    line-height: 1.3;
    font-family: 'Router-Bold';
    margin-top: 50px;
    color: rgb(29, 58, 97);
}
/* Fin DIV Header */


/* DIV Présentation */
#presentation{
    background-color: rgb(252, 235, 203);
    text-align: center;
    min-height: 123vh;
}

#entetePres{
    padding: 50px;
    width: 65%;
    margin: 0 auto;
}

#elementsPres{
    display: flex;
    justify-content: space-around;
}

.pictoPres{
    display: block;
    flex-direction: column;
}

h3{
    font-size: 50px;
    letter-spacing: 3px;
    line-height: 1.1;
    font-family: 'Mathlete-Bulky';
    color: rgb(235, 92, 70);
    margin-bottom: 30px;
}

.pictoPres li {
    font-family: 'Router-Book';
    font-size: 28px;
    line-height: 1.5;
    color: rgb(68, 133, 120);
    list-style-type: none;
}

.pictoPres i{
    color: rgb(235, 92, 70);
}

hr {
    width: 70%;
    border: 1.5px solid rgb(68, 133, 120);
    background-color: rgb(68, 133, 120);
    border-radius: 10px;
}
/* Fin DIV Présentation */


/* DIV Actualités */
#actualites{
    background-color: rgb(252, 235, 203);
    min-height: 105vh;
    text-align: center;
    padding: 50px;
}

#blocActu{
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
}

.articleActu{
    width: 30%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(253, 226, 174);
}

.articleActu:hover {
    width: 31%;
    height: 510px;
    box-shadow: 0 0 25px rgb(251, 219, 158);
}

.titreActu{
    height: 120px;
    width: 70%;
    background-color: rgb(29, 58, 97);
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    margin-top: 420px;
}

h5{
    font-size: 25px;
    font-family: 'Router-Book';
    color: rgb(252, 235, 203);
    padding-top: 40px;
    cursor: pointer;
}
/* Fin DIV Actualités */




