#blocActu {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    display:flex;
    flex-wrap: wrap;
}

.uneActu {
    width: 30%;
    height: 550px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-bottom: 150px;
    background-color: rgb(255, 255, 255);
}

.articleActu {
    height: 300px;
}

.image {
    background-image: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.blocTexte {
    width: 100%;
    height: 50%;
}

.blocTexte p {
    font-size: 17px;
    margin: 25px;
    color: rgb(29, 58, 97);
}

.titreActu {
    height: 120px;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(29, 58, 97);
    border-radius: 8px;
    text-align: center;
}

h5{
    font-size: 18px;
    font-family: 'Router-Book';
    color: rgb(252, 235, 203);
    margin: 25px;
    padding-top: 20px;
}




