#EnteteColo {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 50px;
}

#boutonPartie {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

input {
    padding: 15px 0px;
    margin-top: 15px;
    text-align: center;
    background-color: rgb(29, 58, 97);
    color: rgb(252, 235, 203);
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(253, 226, 174);
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Router-Book';
}

input:active {
    color: rgb(29, 58, 97);
}

#dessin {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

#feuille {
    width: 50%;
    height: 1000px;
    flex: 2;
    background-image: url('../images/memory2.jpg');
    box-shadow:  -8px -8px 15px #dfc594,
                 8px 8px 15px #fffbbc;
}

#blocOutils {
    display: flex;
}

#palette, #outils {
    flex: 1;
}

#palette div, #outils div {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    background: #fde0a8;
    box-shadow:  -8px -8px 15px #dfc594,
                 8px 8px 15px #fffbbc;
    font-size: 3rem;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#outils i {
    color: rgb(29, 58, 97);
}

#outils div {
    background-color: white;
}

#palette div:hover, #outils div:hover {
    opacity: 0.9;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
}

#description {
    width: 80%;
    margin: 0 auto;
    color: rgb(29, 58, 97);
}

#description h4 {
    font-size: 28px;
    padding-top: 40px;
}

h5 {
    font-size: 20px;
    font-family: 'Router-Bold';
}

p {
    font-size: 18px;
}