#form_contact{
    margin: 0 auto;
    padding-top: 200px;
    width: 40%;
    font-family: 'Router-Book';
    color: rgb(29, 58, 97);
}

#form_contact h1{
    font-family: 'Router-Bold';
    font-size: 50px;
}

#form_contact h2{
    font-size: 20px;
    font-family: 'Router-Book';
}