h2{
    margin-bottom: 50px;
}

.champs {
    color: rgb(29, 58, 97);   
}

.message textarea{
    padding-bottom: 150px;
}

button{
    background-color:rgb(29, 58, 97);
}

button[type="submit"]:active {
    color: rgb(29, 58, 97);
}
