.form{
    margin-bottom: 100px;;
}

h2{
    margin-bottom: 50px;
}

.champs {
    color: rgb(29, 58, 97);   
}

button{
    background-color:rgb(29, 58, 97);
}

.message textarea{
    padding-bottom: 150px;
}
