h1{
    color: rgb(91, 76, 141);
}

.form input[type="text"], input[type="number"] {
    width: 300px;
}

.form button[type="submit"]{
    background-color:rgb(91, 76, 141);

}

.champs {
    color:rgb(91, 76, 141);
}

/* .champs:nth-child(4) {
    width: 500px;
} */