body{
    height: 130vh;
}

h1{
    color: rgb(91, 76, 141);
}

.form input[type="text"], input[type="number"] {
    width: 300px;
}

.form button[type="submit"]{
    background-color:rgb(91, 76, 141);

}

.champs {
    color:rgb(91, 76, 141);
}

#connexCompte {
    font-size: 16px;
    padding: 10px 0px;
    text-align: center;
    color:rgb(91, 76, 141);
}

#connexCompte a{
    text-decoration: underline;
}

hr{
    padding: 0.7px;
    background-color: rgb(91, 76, 141);
    border: none;
}

/* .champs:nth-child(4) {
    width: 500px;
} */