/* Page d'une mallette */
body{
    height: 130vh;
    background-color: rgb(252, 235, 203);
}

/* A voir pour le paragraphe */

#texte{
    margin: 0 auto;
    width: 50%;
}

/* Les jeux A voir les Typo */
#jeux{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}

.blocJeu{
    width: 30%;
    height: 500px;
    background-color: rgb(255, 255, 255);
}

.blocJeu p{
    height: 80px;
    width: 70%;
    background-color: rgb(91, 76, 141);
    text-align: center;
    margin: 0 auto;
    margin-top: 420px;
    font-size: 25px;
    color: rgb(255, 226, 193);
    padding-top: 40px;
}
button{
    position: fixed;
    left: 40px;
    top: 50px;
    text-decoration: none;
    border-radius: 5px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: rigth;
    justify-content: center;
    background: rgb(240, 104, 83);
    z-index: 1000;
}
.btn{
    position: fixed;
    left: 40px;
    top: 50px;
    text-decoration: none;
    border-radius: 5px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240, 104, 83);
    z-index: 1000;
}
.fas{
    font-size: 40px;
}
