/* Page d'une mallette */
body{
    height: 130vh;
    background-color: rgb(252, 235, 203);
}

#texte{
    margin: 0 auto;
    width: 50%;
}

#jeux{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}

.blocJeu{
    width: 30%;
    height: 500px;
    background-color: rgb(255, 255, 255);
}

.blocJeu p{
    height: 80px;
    width: 70%;
    background-color: rgb(91, 76, 141);
    text-align: center;
    margin: 0 auto;
    margin-top: 420px;
    font-size: 25px;
    color: rgb(255, 226, 193);
    padding-top: 40px;
}
.blocJeu .panier{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.panier{
    background-color:rgb(68, 133, 120);
    border: none;
    border-radius: 5px;
    width: 10%;
    height: 10%;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 45%;
}

.fas{
    margin: auto;
    color: rgb(68, 133, 120);
}

#icon{
    position: absolute;
    border-radius: 5px;
    top: 50px;
    right: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

