#form_connex{
    margin: 0 auto;
    padding-top: 200px;
    width: 30%;
    font-family: 'Router-Book';
    color: rgb(68, 133, 120);
}

#form_connex h1{
    font-family: 'Router-Bold';
    font-size: 50px;
}

#form_connex .champs{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-size: 18px;
}

#form_connex input[type="email"], input[type="password"] {
    padding: 15px;
    border-radius: 7px;
    border: none;
}

#form_connex label{
    padding-bottom: 10px;
}

#form_connex button[type="submit"]{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Router-Book';
    background-color:rgb(68, 133, 120);
    color: rgb(252, 235, 203);
    border-radius: 7px;
    margin: 15px 0px;
    border: none;
}

#mdp_oubli, #crea_compte{
    font-size: 16px;
    padding: 10px 0px;
    text-align: center;
}

#mdp_oubli a, #crea_compte a{
    color: rgb(68, 133, 120);
}

#crea_compte a{
    text-decoration: underline;
}

#form_connex hr{
    padding: 0.7px;
    background-color: rgb(68, 133, 120);
    border: none;
}
