h1{
    color: rgb(68, 133, 120);
}

.champs {
    color: rgb(68, 133, 120);   
}

.form button[type="submit"]{
    background-color:rgb(68, 133, 120);
}

#mdp_oubli, #crea_compte{
    font-size: 16px;
    padding: 10px 0px;
    text-align: center;
}

#mdp_oubli a, #crea_compte a{
    color: rgb(68, 133, 120);
}

#crea_compte a{
    text-decoration: underline;
}

#crea_compte span {
    color: rgb(68, 133, 120);
}

.form hr{
    padding: 0.7px;
    background-color: rgb(68, 133, 120);
    border: none;
}
