body{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 120vh;
    background-color: rgb(252, 235, 203);
    font-family: 'Router-Book';
}

/* LIENS */
a{
    text-decoration: none;
}

/* ENTETE LOGO */
#logoHeader {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 2%;
}

/* NAVIGATION */
nav {
    height: 40px;
    align-items: center;
    text-align: right;
    padding: 30px 50px 0px 0px;
}

nav a {
    font-size: 15px;
    color: rgb(29, 58, 97);   
    padding: 20px; 
}

nav i{
    padding-right: 10px;
}

/* MENU */
.btn{
    position: fixed;
    left: 40px;
    top: 50px;
    text-decoration: none;
    border-radius: 5px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240, 104, 83);
    z-index: 1000;
}

.btn:hover{
    width: 92px;
    height: 92px;
    box-shadow: 0 0 5px rgba(240, 104, 83, 0.548);
}

.menuIcon{
    width: 40px;
}

.conteneurMenu{
    background: rgb(250, 177, 93);
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.listeMenu{
    margin-top: 220px;
    margin-left: 10%;
    font-size: 35px;
    font-family: 'Router-Book';
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}

.MenuListItem{
    position: relative;
    margin-top: 20px;
    color: rgb(252, 235, 203);
    list-style-type: none;
    cursor: pointer;
    opacity: 0;
    transform: translateX(-100px);
    cursor: pointer;
}

.MenuListItem:hover{
    color: rgb(251, 219, 185);
}
/* Fin MENU */


/* TITRES */
h1{
    width: 70%;
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Router-Bold';
    line-height: 1.2;
    color: rgb(29, 58, 97);
    margin-top: 50px;
    text-align: center;
    padding-top: 50px;
}

h2{
    font-size: 20px;
    font-family: 'Router-Book';
    color: rgb(29, 58, 97);
    text-align: center;
}

h3 {
    color: rgb(29, 58, 97);
    margin-top: 30px;
    font-family: 'Router-Bold';
    font-size: 18px;
    text-align: center;
}
/* FIN TITRES */


/* FORMULAIRES */
.form{
    margin: 0 auto;
    width: 40%;
    font-family: 'Router-Book';
    padding-top: 90px;
    margin-bottom: 100px;;
}

.champs{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-size: 18px;
}

.champLine{
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    font-size: 18px;
}

label{
    padding-bottom: 10px;
}

.form input[type="email"], input[type="password"], input[type="text"], input[type="number"], textarea {
    padding: 15px;
    border-radius: 7px;
    border: none;
}

.form button[type="submit"]{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Router-Book';
    color: rgb(252, 235, 203);
    border-radius: 7px;
    margin: 15px 0px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.form button[type="submit"]:hover {
    opacity: 0.9;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
}

.form button[type="submit"]:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
      inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}
/* FIN FORMULAIRES */

/* BOUTONS ET CHAMPS SUR TOUT LE SITE */
input:hover, textarea:hover {
    opacity: 0.9;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
      6px 6px 10px rgba(0, 0, 0, 0.2);
}

input:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
      inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}
/* FIN BOUTONS DIVERS */
