.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 660px;
    height: 300px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.container-onglets{
    background: rgb(68, 133, 120); 
    width: 100%;
    height: 30%;
    display: flex;
    border-bottom: 1px solid #333;
}
.onglets {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.onglets:not(:nth-child(4)) {
    border-right: 1px solid #333;
}

.contenu {
    height: 70%;
    width: 100%;
    position: absolute;
    opacity: 0;

}
/* les boutons */
button[type="submit"]{
    background-color:rgb(250, 177, 93);
}

button[type="submit1"]{
    border-radius: 10px;
    background-color : rgb(240, 104, 83);
    margin-left: 60%;
}

button[type="submit"], [type="submit1"]{
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Router-Book';
    font-size: 20px;
}

/* Anim */

.active {
    background: rgb(250, 177, 93);
    color: rgb(35, 57, 54);
    transition: all 0.3s ease;
}

.activeContenu {
    animation: fade 0.5s forwards;
    padding: 5px;
    justify-content: space-around;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
