
#parents{
    margin: 0 auto;
    padding-top: 200px;
    width: 47%;
    font-family: 'Router-Book';
    color: rgb(29, 58, 97);
}

h1 {
    padding-bottom: 70px;
}

h2{
    font-family: 'Mathlete-Bulky';
    letter-spacing: 3.5px;
    line-height: 0;
    font-size: 35px;
    text-align: left;
}

p {
    font-size: 18px;
    padding-bottom: 35px;
}

li{
    font-size: 20px;
    padding-bottom: 8px;
    list-style-type: none;
}

li:nth-child(6) {
    padding-bottom: 35px;
}

span{
    font-family: 'Router-Bold';
}

.explic:nth-child(7){
    padding-bottom: 100px;
}
