.container{
    width: 70%;
    height: 120vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

#description{
    width: 30%;
    margin: 10px;
    padding-left: 60px;
    /* margin-top: 10%; */
    color: rgb(68, 133, 120);
    font-family: 'Router-Book';
    font-size: 20px;
}

#puzzle{
    width: 80%;
    height: 80%;
    margin-top: 50px;
}

#fond{
    opacity: 0.3;
    margin: 0 auto;
}

.movil{
    width: 285px;
    height: 285px;
}

.imgp img{
    max-width: 100%;
}
