h3 {
    color: rgb(29, 58, 97);
    margin-top: 30px;
    font-family: 'Router-Bold';
    font-size: 18px;
    text-align: center;
}

#texte{
    margin: 0 auto;
    width: 50%;
}

#jeux{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.blocJeu{
    width: 30%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(253, 226, 174);   
}

.blocJeu p{
    height: 80px;
    width: 70%;
    background-color: rgb(91, 76, 141);
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    margin-top: 420px;
    font-size: 25px;
    color: rgb(255, 226, 193);
    padding-top: 40px;
}

.btnP {
    display: block;
    width: 50%;
    height: 70px;
    margin: 0 auto;
    margin-top: 150px;
    background-color:rgb(68, 133, 120);
    color: rgb(255, 226, 193);
    margin-bottom: 150px;
    border-radius: 5px;
    font-family: 'Router-Book';
    font-size: 25px;
    border: none;
    cursor: pointer;
}
