{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}

    <header>
        <h1>Phrase d'accroche de Novart</h1>

        <a href="#" class="btn">
            <img src="menu.svg" alt="#" class="menuIcon">
        </a>

        <div class="conteneurMenu">

            <ul class="listeMenu">
    
                <a href="#">
                    <li class="MenuListItem">Accueil</li>
                </a>
    
                <a href="#">
                    <li class="MenuListItem">Nos Malettes</li>
                </a>
    
                <a href="#">
                    <li class="MenuListItem">Mon compte</li>
                </a>
    
                <a href="#">
                    <li class="MenuListItem">Actualités</li>
                </a>

                <a href="#">
                    <li class="MenuListItem">Glossaire</li>
                </a>

                <a href="#">
                    <li class="MenuListItem">Parents</li>
                </a>

                <a href="#">
                    <li class="MenuListItem">Panier</li>
                </a>

                <a href="#">
                    <li class="MenuListItem">Contact</li>
                </a>
    
            </ul>
        </div>
    </header>

    <div class="presentation">
        <h1>Présentation</h1>
    </div>

    <div class="actualites">
        <h1>Actualités</h1>
    </div>

    <footer>
    </footer>

{% endblock %}
