{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <!-- DIV Header -->
    <header>
        <div id="logo_header">
            <p>ICI LE LOGO NOVART</p>
        </div>
        
        <h1>Phrase d'accroche de Novart</h1>
    </header>

    <!-- DIV Présentation -->
    <div id="presentation">
        <div id="entete_pres">
            <h2>Avec Novart, découvrez l'art en vous amusant ! <br>Nous vous proposons des mallettes pédagogiques et créatives adaptées à tous les âges</h2>
        </div>

        <div id="elements_pres">

            <div class="picto_pres">
                <i class="fas fa-puzzle-piece fa-7x"></i>
                <h4>Un thème artistique <br> par mallette</h4>
                <li>L'art abstrait</li>
                <li>Le cubisme</li>
                <li>La photographie</li>
                <li>Les animaux dans l'art</li>
                <li>Le paysage dans l'art</li>
            </div>

            <div class="picto_pres">
                <i class="fas fa-puzzle-piece fa-7x"></i>
                <h4>Des jeux en ligne <br> interactifs</h4>
                <li>Un puzzle</li>
                <li>Un memory</li>
                <li>Un coloriage</li>
                <li>Des quizz</li>
                <li>Gagnez des points bonus</li>
            </div>

            <div class="picto_pres">
                <i class="fas fa-puzzle-piece fa-7x"></i>
                <h4>Des contenus <br> accessibles pour tous</h4>
                <li>Pour les petits <br> comme pour les grands</li>
            </div>

        </div>
    </div>

    <!-- DIV Actualités -->
    <div id="actualites">
        <h3>Les dernières actualités artistiques</h3>

        <div id="bloc_actu">

            <div class="article_actu">
                <div class="titre_actu">
                    <h5>Ici le titre de l'article</h5>
                </div>
            </div>
            
            <div class="article_actu">
                <div class="titre_actu">
                    <h5>Ici le titre de l'article</h5>
                </div>
            </div>

            <div class="article_actu">
                <div class="titre_actu">
                    <h5>Ici le titre de l'article</h5>
                </div>
            </div>

        </div>

    </div>

    <!-- DIV Footer -->
    <footer>
        <div id="logo_footer">
            <p>ICI LE LOGO NOVART</p>
        </div>

        <div id="social_footer">
            <li><a href="#"/><i class="fab fa-facebook fa-3x"></i></li>
            <li><a href="#"/><i class="fab fa-instagram fa-3x"></i></li>
            <li><a href="#"/><i class="fab fa-linkedin fa-3x"></i></li>
            <li><a href="#"/><i class="fab fa-twitter fa-3x"></i></li>
        </div>

        <div id="info_footer">
            <li><a href="">Qui sommes-nous ?</a></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
            <li><a href="{{ path('parents') }}">Parents</a></li>
            <li><a href="">Termes d'utilisation</a></li>
            <li><a href="">Confidentialité</a></li>
            <li><a href="">Sécurité et prudence en ligne</a></li>
        </div>
    </footer>

{% endblock %}

