{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/accueil.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/menu.js') }}"></script>
    
    <script src="{{ asset('assets/js/accueil.js') }}"></script>
{% endblock %}

{% block body %}

    <header>

        <div class="slider">
            <img class="active" src="./assets/images/Accueil2.jpg" alt="Oeuvre d'Henri Matisse">
            <img src="./assets/images/Accueil.jpg" alt="Oeuvre dans la rue de l'artiste JR">
            <img src="./assets/images/Accueil3.jpg" alt="Sculpture de Niki De Saint Phalle">
            <img src="./assets/images/Accueil4.jpg" alt="Oeuvre de Paul Klee">
        <div>

        <h1>Apprendre l'art simplement</h1>

        <div class="btnCarou">
            <div class="btnLeft">
                <i class="fas fa-chevron-left"></i>
            </div>


            <div class="btnRight">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>

    </header>

    <!-- DIV Présentation -->
    <div id="presentation">
        <div id="entetePres">
            <h2>Avec Novart, découvrez l'art en vous amusant ! Nous vous proposons des mallettes pédagogiques et créatives adaptées à tous les âges</h2>
        </div>

        <div id="elementsPres">

            <div class="pictoPres">
                <i class="fas fa-paint-brush fa-7x"></i>
                <h3>Un thème artistique <br> par mallette</h3>
                <li>L'art abstrait</li>
                <li>La photographie</li>
                <li>Les animaux dans l'art</li>
                <li>Et pleins d'autres...</li>
            </div>

            <div class="pictoPres">
                <i class="fas fa-puzzle-piece fa-7x"></i>
                <h3>Des jeux en ligne <br> interactifs</h3>
                <li>Un puzzle</li>
                <li>Un memory</li>
                <li>Un coloriage</li>
                <li>Des quizz</li>
                <li>Gagnez des points bonus</li>
            </div>

            <div class="pictoPres">
                <i class="fas fa-book fa-7x"></i>
                <h3>Des contenus <br> accessibles pour tous</h3>
                <li>Pour les petits <br> comme pour les grands</li>
            </div>

        </div>
    </div>

    <hr>

    <!-- DIV Actualités -->
    
    <div id="actualites">
        <h2>Les dernières actualités artistiques</h2>

        <div id="blocActu">
            <div class="articleActu">
                <img class="actu" src="./assets/images/imageActu.jpg" alt="">
                <div class="titreActu">
                     <h5>Street Art</h5>
                </div>
            </div>
            
            <div class="articleActu">
            <img class="actu" src="./assets/images/imageActu1.jpg" alt="">
                <div class="titreActu">
                    <h5>Le musée Picasso </h5>
                </div>
            </div>

            <div class="articleActu">
            <img class="actu" src="./assets/images/imageActu3.jpg" alt="">
                <div class="titreActu">
                    <h5>Une oeuvre, un regard </h5>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

