{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/unemallette.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<h1>Le cubisme</h1>

    <div id="texte">

        <h2>Né au début du 20e siècle, le cubisme constitua une révolution majeure dans la peinture et la sculpture. Son principe ? Découper et représenter toutes les faces d'un objet sur la toile. Grâce à cette mallette, tu pourras apprendre à dessiner comme Pablo Picasso !</h2>
        
        <h3>Voici les jeux que nous te proposons pour découvrir l'art cubique. <br>Pour te lancer, ajoute cette mallette à ton panier.</h3>

    </div>

    {# Les trois jeux (puzzle, memory, coloriage) #}

    <div id="jeux">

        <div class="blocJeu">
            <div>
                <p>Puzzle</p>
            </div>
        </div>
        
        <div class="blocJeu">
            <div>
                <p>Memory</p>
            </div>
        </div>

        <div class="blocJeu">
            <div>
                <p>Coloriage</p>
            </div>
        </div>
        <div>
            <button class="btnP" href="{{path('panier')}}" type="submit">Ajouter au panier</button>
        </div>
{% endblock %}
