{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/jeux.css') }}" rel="stylesheet" />
{% endblock %}
{% block javascript %} <script src="{{ asset('assets/js/mallettes.js') }}"></script> {% endblock %}

{% block body %}

        <h1>Ici une boucle titre mallette</h1>
        <div id="icon">
        <a href="#"><i class="fas fa-shopping-basket fa-2x" ></i></a>
        </div>
        {# Texte a voir ce qu'on met #}
        <div id="texte">

            <h2>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</h2>

        </div>

        {# Les trois jeux (puzzle, memory, coloriage) #}

        <div id="jeux">
            <div class="blocJeu">
                <div>
                    <p>Puzzle</p>
                </div>
            </div>
            
            <div class="blocJeu">
                <div>
                    <p>Memory</p>
                </div>
            </div>

            <div class="blocJeu">
                <div>
                    <p>Coloriage</p>
                </div>
            </div>
        </div>    


{% endblock %}
