{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/points.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
        <h1>Ton score</h1>

        <h2>Félicitations ! Tu as gagné</h2>

        <div id="boxpts">
            <div class="point">
                <p class="text">Voici les points gagnés hier</p>
                
                <div id="cercle">
                    <div class="chiffre">16 pts</div>
                </div>
            </div>

            <div class="point">
                <p class="text">Voici les points gagnés aujoud'hui ! </p>
                
                <div id="cercle1">
                    <div class="chiffre1">20 pts</div>
                </div>
            </div>
        </div>

        <h3>Découvre la suite demain !</h3>

{% endblock %}
