{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/points.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
        <h1>Logo ici</h1>

        <h2>Félicitations ! Tu as gagné</h2>
        <div id="boxpts">
            <div class="point">
                <p class="text">Voici les points d'hier</p>
                    <div id="cercle">
                    <strong class="chiffre">16 pts</strong>
                    </div>
            </div>
            <div class="point">
                <p class="text">Voici les points gagnés aujoud'hui ! </p>
                    <div id="cercle1">
                    <strong class="chiffre1">20 pts</strong>
                    </div>
            </div>
        </div>
        <h2>Découvre la suite demain !</h2>

{% endblock %}
