{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/memory.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/memory.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="EnteteMemo">
        <h1>Memory</h1>

        <h2>Retrouve la paire de chaque oeuvre.</h2>

        <h3>Pense aussi à lire les descriptions et les légendes des oeuvres proposées. Ces informations te serviront pour le quizz.</h3>
    </div>

    <div id="boutonPartie">     
        <input type"button" class"partie" value="Nouvelle partie" onClick="window.location.reload()"/>
    </div>

    <div class="memoryGame">

        <div class="memoryCard" data-framework="vue">
            <img class="frontFace" src="../assets/images/memory1.jpg" alt="Oeuvre de Pablo Picasso, Retrato de Dora Maar">
            <div class="backFace">

                <img src="../assets/images/Logo-Novart2.png" alt="Logo Novart">
            </div>
        </div>

        <div class="memoryCard" data-framework="vue">
            <img class="frontFace" src="../assets/images/memory1.jpg" alt="Oeuvre de Pablo Picasso, Retrato de Dora Maar">

            <div class="backFace">
                <img src="../assets/images/Logo-Novart2.png" alt="Logo Novart">
            </div>
        </div>

        <div class="memoryCard" data-framework="vue1">
            <img class="frontFace" src="../assets/images/memory2.jpg" alt="Oeuvre de Robert Delaunay, Joie de vivre">

            <div class="backFace">
                <img src="../assets/images/Logo-Novart2.png" alt="Logo Novart">
            </div>
        </div>

        <div class="memoryCard" data-framework="vue1">
            <img class="frontFace" src="../assets/images/memory2.jpg" alt="Oeuvre de Robert Delaunay, Joie de vivre">

            <div class="backFace">
                <img src="../assets/images/Logo-Novart2.png" alt="Logo Novart">
            </div>
        </div>

        <div class="memoryCard" data-framework="vue2">
            <img class="frontFace" src="../assets/images/memory3.jpg" alt="Oeuvre de Georges Braque, Port en Normandie">

            <div class="backFace">
                <img src="../assets/images/Logo-Novart2.png" alt="Logo Novart">
            </div>
        </div>

        <div class="memoryCard" data-framework="vue2">
            <img class="frontFace" src="../assets/images/memory3.jpg" alt="Oeuvre de Georges Braque, Port en Normandie">

            <div class="backFace">
                <img src="../assets/images/Logo-Novart2.png" alt="Logo Novart">
            </div>
        </div>

        <div class="memoryCard" data-framework="vue3">
            <img class="frontFace" src="../assets/images/memory4.jpg" alt="Oeuvre de Georges Braque">

            <div class="backFace">
                <img src="../assets/images/Logo-Novart2.png" alt="Logo Novart">
            </div>
        </div>

        <div class="memoryCard" data-framework="vue3">
            <img class="frontFace" src="../assets/images/memory4.jpg" alt="Oeuvre de Georges Braque">

            <div class="backFace">
                <img src="../assets/images/Logo-Novart2.png" alt="Logo Novart">
            </div>
        </div>
    </div>

    <div id="description">
        <h2>Description des oeuvres proposées</h2>

        <h3>Titre de l'oeuvre</h3>
        
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
    
    </div>

{% endblock %}