{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/memory.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/memory.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="EnteteMemo">
        <h1>Memory</h1>

        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
    </div>

    <div class="memoryGame">
        <div class="memoryCard" data-framework="vue">
            <div class="frontFace" src=""></div>
            <img class="backFace" src="../assets/images/menu.svg" alt="">
        </div>

        <div class="memoryCard" data-framework="vue">
            <div class="frontFace"></div>
            <div class="backFace" src="" alt=""></div>
        </div>

        <div class="memoryCard" data-framework="vue1">
            <div class="frontFace"></div>
            <div class="backFace" src="" alt=""></div>
        </div>

        <div class="memoryCard" data-framework="vue1">
            <div class="frontFace"></div>
            <div class="backFace" src="" alt=""></div>
        </div>

        <div class="memoryCard" data-framework="vue2">
            <div class="frontFace"></div>
            <div class="backFace" src="" alt=""></div>
        </div>

        <div class="memoryCard" data-framework="vue2">
            <div class="frontFace"></div>
            <div class="backFace" src="" alt=""></div>
        </div>

        <div class="memoryCard" data-framework="vue3">
            <div class="frontFace"></div>
            <div class="backFace" src="" alt=""></div>
        </div>

        <div class="memoryCard" data-framework="vue3">
            <div class="frontFace"></div>
            <div class="backFace" src="" alt=""></div>
        </div>
    </div>

{% endblock %}