{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}


<div id="form_contact">
    <h1>Formulaire de contact</h1>

    <h2>Vous avez une question, une réclamation, ou vous souhaitez nous faire part d'une idée ? Écrivez-nous !</h2>



</div>

{% endblock %}
