{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/contact.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}


<div class="form">
    <h1>Formulaire de contact</h1>

    <h2>Vous avez une question, une réclamation, ou vous souhaitez nous faire part d'une idée ? Écrivez-nous !</h2>

</div>

{% endblock %}
