<!DOCTYPE html>
  <html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Novart{% endblock %}</title>

        <!-- Lien css Accueil -->
        <link href="{{ asset('assets/css/accueil.css') }}" rel="stylesheet" />

        <!-- Lien pour îcones Fontawesome -->
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    </head>

    <body>
      {{ include('menu.html.twig') }}
      
      {% block body %}
      {% endblock %}


      <!-- Lien Green Sock -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

      <!-- Lien accueil.js -->
      <script src="{{ asset('assets/js/accueil.js') }}"></script>
      
    </body>

  </html>
