<footer>
    <div id="logoFooter">
        <img src="/assets/images/Logo-Novart2.png"/>
    </div>

    <div id="socialFooter">
        <li><a href="#"/><i class="fab fa-facebook fa-3x"></i></li>
        <li><a href="#"/><i class="fab fa-instagram fa-3x"></i></li>
        <li><a href="#"/><i class="fab fa-linkedin fa-3x"></i></li>
        <li><a href="#"/><i class="fab fa-twitter fa-3x"></i></li>
    </div>

    <div id="infoFooter">
        <li><a href="{{ path('mallette') }}">Nos Mallettes</a></li>
        <li><a href="{{ path('glossaire') }}">Glossaire</a></li>
        <li><a href="{{ path('parents') }}">Parents</a></li>
        <li><a href="{{ path('contact_add') }}">Contact</a></li>
    </div>
</footer>