<footer>
    <div id="logoFooter">
        <p>ICI LE LOGO NOVART</p>
    </div>

    <div id="socialFooter">
        <li><a href="#"/><i class="fab fa-facebook fa-3x"></i></li>
        <li><a href="#"/><i class="fab fa-instagram fa-3x"></i></li>
        <li><a href="#"/><i class="fab fa-linkedin fa-3x"></i></li>
        <li><a href="#"/><i class="fab fa-twitter fa-3x"></i></li>
    </div>

    <div id="infoFooter">
        <li><a href="">Qui sommes-nous ?</a></li>
        <li><a href="{{ path('contact_add') }}">Contact</a></li>
        <li><a href="{{ path('parents') }}">Parents</a></li>
        <li><a href="">Termes d'utilisation</a></li>
        <li><a href="">Confidentialité</a></li>
        <li><a href="">Sécurité et prudence en ligne</a></li>
    </div>
</footer>