        <a href="#" class="btn">
            <img src="menu.svg" alt="#" class="menuIcon">
        </a>

        <div class="conteneurMenu">

            <ul class="listeMenu">
    
                <a href="#">
                    <li class="MenuListItem">Accueil</li>
                </a>
    
                <a href="#">
                    <li class="MenuListItem">Nos Malettes</li>
                </a>
    
                <a href="#">
                    <li class="MenuListItem">Mon compte</li>
                </a>
    
                <a href="#">
                    <li class="MenuListItem">Actualités</li>
                </a>

                <a href="#">
                    <li class="MenuListItem">Glossaire</li>
                </a>

                <a href="#">
                    <li class="MenuListItem">Parents</li>
                </a>

                <a href="#">
                    <li class="MenuListItem">Panier</li>
                </a>

                <a href="#">
                    <li class="MenuListItem">Contact</li>
                </a>
            </ul>
        </div>