{% extends 'base.html.twig' %}

{% block title %} Coloriage {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/coloriage.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/dessin.js') }}"></script>
    <script src="{{ asset('assets/js/coloriage.js') }}"></script>
{% endblock %}

{% block body %}

    <div id="EnteteColo">
        <h1>Coloriage</h1>

        <h2>Dessine comme ?</h2>

        <h3>Pense aussi à lire ladescription et la légende de l'oeuvre proposée. Ces informations te serviront pour le quizz.</h3>
    </div>

    <div id="boutonPartie">     
        <input type"button" class"partie" value="Nouveau coloriage" onClick="window.location.reload()"/>
    </div>

    <div id="dessin">

        <canvas id="feuille" alt="Oeuvre de Robert Delaunay à colorier">
        </canvas>
        
        <div id="blocOutils">
            <div id="palette">
                <div data-color="blue"></div>
                <div data-color="green"></div>
                <div data-color="yellow"></div>
                <div data-color="red"></div>
                <div data-color="white"></div>
                <div data-color="purple"></div>
                <div data-color="black"></div>
            </div>

            <div id="outils">
                <div id="plus"><i class="fas fa-plus"></i></div>
                <div id="moins"><i class="fas fa-minus"></i></div>
                <div id="effacer"><i class="fas fa-eraser"></i></div>
            </div>
        </div>

    </div>

    <div id="description">
        <h4>Description de l'oeuvre</h4>

        <h5>Robert Delaunay, Joie de vivre</h5>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    </div>

{% endblock %}